.contacts {
    padding: 100px 0;
    outline: 2px solid green;
}

.contacts_form {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contacts_form button {
    margin: 45px auto 0 auto;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .contacts {
        padding: 10px 20px;
        outline: 2px solid green;
    }

    .contacts_form {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {background: blue;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {background: orange;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {background: pink;}
}