.contacts {
  width: 100%;

  color: white;
}

.contacts_container {
  margin: 0 auto;

  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.contacts_width {
  width: 47%;
}

.contacts_mobile {
  display: none;
}

.contact_list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  height: 50%;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;

  color: white;
  list-style: none;
}

.contact_item {
  margin-bottom: 20px;

  width: 100%;

  display: flex;
  flex-direction: column;
  position: relative;

  color: #8e8e8e;
  background-image: -webkit-linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
}

.contact_item:last-child {
  margin-bottom: 0;
}

.contact_item span {
  padding: 30px;

  z-index: 2;
  background-color: #161616;
}

.contact_list a {
  padding: 20px 60px;
  text-decoration: none;
  color: white;
}

.contact_item span:hover {
  transform: translate(-10px, -10px);
  transition: all 0.5s ease-in-out 0s;
  background: #121212;
  border: none;
  color: white;
}

.contacts_form {
  width: 50%;

  display: flex;
  flex-direction: column;
  color: white;
}

.contacts_form button {
  margin: 45px auto 0 auto;

  background-image: -webkit-linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);
  background-image: linear-gradient(45deg, #e0040b 15%, #dd1e4b 65%);

  border: none;
}

.contacts_form input {
  height: 60px;
}

.contacts_form_data input:last-child {
  margin-right: 0;
}

.contacts_form textarea {
  margin-top: 20px;
}

.contacts_form_data {
  display: flex;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .contacts {
    padding: 30px 0;
  }

  .contacts_container {
    width: 100%;
    flex-direction: column;
  }

  .contact_list {
    flex-direction: column;
  }

  .contact_item {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact_item:last-child {
    margin-bottom: 0;
  }

  .contacts_mobile {
    display: block;
    margin-bottom: 20px;
  }
  .contacts_mobile li img {
    width: 50px;
    height: 50px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .contacts_container {
    width: 100%;
  }
}

@media only screen and (max-width: 990px) {
  .contacts_container {
    flex-direction: column;
  }

  .contacts_form {
    width: 100%;
  }

  .contacts_width {
    width: 100%;
  }
}
