.skills {
    padding: 80px 0;
    height: 100%;
}

.skills h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.skills_list {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    list-style: none;
}

@media only screen and (max-width: 600px) {
    .skills {
        padding: 30px 0;
    }

    .skills_list {
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        list-style: none;
    }

    .skills_list > div {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 1062px) {
    .skills_list {
        justify-content: space-evenly;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}