.exp {
    height: 100px;
    width: 100px;
    background-color: red;
}

.exp_block {
    height: 100px;
    width: 100px;
    background-color: green;
    z-index: 2;
}

.exp_block:hover {
    transform: translate(-15px, 15px);
    transition: all 0.5s ease-in-out 0s;
}

