.menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu_item {
    margin-right: 30px;
}

.menu_item:last-child {
    margin-right: 0;
}

.item_link {
    color: black;
    text-decoration: none;
}