@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');
/*
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Saira+Semi+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&display=swap');

.about {
    padding: 0;

    height: 100vh;



}

.about_block {
    width: 90%;

    display: flex;
    justify-content: center;
}

.about_h1 {
    margin-top: 11%;
    width: 70%;
    color: white;

    font-size: 6rem;
    display: flex;
    flex-direction: column;
}

.p_name {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 6rem;

    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;



    background-image: -webkit-linear-gradient(45deg, #E0040B 15%, #dd1e4b 65%);
    background-image: linear-gradient(45deg, #E0040B 15%, #dd1e4b 65%);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.react_typing {
    font-size: 50px;
    font-weight: normal;
    /*
    font-family: 'Orbitron', sans-serif;
    *//*
    font-family: 'Saira Semi Condensed', sans-serif;*/
    /*font-family: 'Geo', sans-serif;*/
    font-family: 'Gothic A1', sans-serif;
    letter-spacing: 3px;
    font-style: italic;
    height: 300px;
}


.p_hi {
    font-size: 2rem;
    color: #6f6f6f;
    background-image: none;
    text-transform: uppercase;
    margin: 20px auto;
    /*
    text-shadow: #fff 1px 1px 0, #dd1e4b -1px -1px 0, #fff -1px 1px 0, #ffe 1px -1px 0;;
    */

    /*
    font-size: 60px;
    color: #000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #ffb, -1px 1px 0 #fff, 1px 1px 0 #ffe;
    */
}

/*.about_photo {
    width: 400px;
}*/

.typing_effect_desktop {
    height: 150px;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .about {
        /*padding: 30px 20px;*/
        height: 100vh;
    }

    .about_block {
        margin: 0;
        width: 100%;

        position: relative;
    }

    .about_info {
        /*margin-bottom: 15px;*/
    }

    .about_photo {
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -3;
    }

    .typing_effect_desktop {
        height: 200px;
    }

    .p_name {
        font-size: 3rem;

        text-align: center;
    }

    .about_h1 {
        padding: 10px;
        width: 100%;
        position: relative;
        align-items: center;
    }

    /*.typing_effect_desktop {
        display: none;
    }*/


    .react_typing div {
        display: none;
        transition: none;
    }

    .react_typing h1 {
        display: none;
        transition: none;
    }

    .react_typing span {
        display: none;
        transition: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {
        background: orange;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {
        background: pink;
    }
}