.about {
    padding: 0;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: bisque;
}

.about_block {
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about_info {
    width: 250px;

    text-align: left;

    background-color: cadetblue;
}

.about_photo {
    width: 200px;
    height: 300px;

    background-color: cadetblue;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .about {
        padding: 30px 20px;
        height: 100%;
    }

    .about_block {
        width: 100%;
        flex-direction: column;
    }

    .about_info {
        margin-bottom: 15px;
    }

    .about_photo {
        width: 100%;
        height: 500px;
        border: 2px solid green;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {background: blue;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {background: orange;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {background: pink;}
}