.mobile_menu_container {
    width: 100%;
    height: 100vh;
    position: absolute;
    color: white;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.97);
}


.mobile_menu_position {
    height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}


.mobile_menu_list {
    width: 100%;

    list-style: none;
}

.mobile_menu_item {
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
    font-size: 2.7rem;
    font-weight: bold;
}

.mobile_menu_item:last-child {
    margin-bottom: 0;
}

.mobile_menu_item .item_link {
    text-transform: uppercase;
    text-decoration: none;
    color: #dd1e4b;
}

.button_close {

    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;

    color: white;
}

.button_close:before {
    content: "";

}

.button_el {
    height: 0px;
    border: 1.5px solid #dd1e4b;

    width: 42px;
    display: block;
    position: absolute;
    top: 20px;
    right: 5px;

    transition: all 300ms cubic-bezier(.61, .01, .42, 1);
    background:#dd1e4b;
}

.button_el:nth-child(1) {

    transform: rotate(45deg);
}

.button_el:nth-child(2) {

    transform: rotate(-45deg);
}

