.work {
    margin-bottom: 45px;
    width: 350px;
    display: inline-block;

    border: 2px solid red;
}

.work_img {
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
    /*
    background: center url('../../../image/Packs.png') no-repeat;
    */
    background-size: cover;

    border: 2px solid green;
    position: relative;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work_img img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}

.work_img a {
    padding: 10px 30px;
    border: 2px solid gray;
}

.work_img img {
    width: 100%;
    height: 300px;
}

.work h3,
.work p{
    width: 300px;
    background-color: orange;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .work {
        margin-bottom: 20px;
        min-width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {
        background: green;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {
        background: blue;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {
        background: orange;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {
        background: pink;
    }
}
