.work {
    min-width: 500px;
    display: inline-block;
}

.work_img {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.work_img img {
    width: 100%;
    height: 300px;
}

.work_img button {
    position: absolute;
    top: 45%;
    left: 35%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .work {
        min-width: 100%;
    }

    .work_img button {
        position: absolute;
        top: 45%;
        left: 30%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}
