.social {
    padding: 100px 0;
    outline: 2px solid green;

    background-color: cadetblue;
}

.social h3 {
    background-color: bisque;
}

.social_list {
    margin: 0 auto;
    padding: 0;

    width: 50%;

    display: flex;
    justify-content: space-between;
    background-color: bisque;

    list-style: none;
}

.social_item {
    width: 35px;
    height: 35px;

    border: 2px solid green
}