.app {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
}

.app_header_desktop {
    padding: 15px;
    border: 2px solid white;
    display: flex;
}

.app_header_mobile {
    display: none;
}

.section-wrapper {

}

.main_wrapper {
    margin: 0 auto;
    position: relative;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .app_header_desktop {
        display: none;
    }

    .app_header_mobile {
        display: block;
    }

    .on_button {
        position: absolute;
        color: white;
        z-index: 999999;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {
        background: green;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {
        background: blue;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {
        background: orange;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {
        background: pink;
    }
}
