.app {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;

}

.app_aboutme {
    margin: 0 auto;
    padding: 0;
    width: 50%;
    z-index: -100;
}

.app_header_desktop {
    width: 100%;
    height: 60px;
    display: flex;

    position: fixed;
    top: 0;

    z-index: 99999;
}

.app_particle_desktop {
    display: block;
}

.app_header_mobile {
    display: none;
}

.app_particle_mobile {
    display: none;
}

.section-wrapper {
}

.main_wrapper {
    margin: 0 auto 60px auto;
    position: relative;
}

.particles {
    width: 100%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .app {
        height: 100%;
        width: 100%;
    }

    .app_header_desktop {
        display: none;
    }

    .app_particle_desktop {
        display: none;
    }

    .app_particle_desktop img {
        width: 100%;
    }

    .app_particle_mobile {
        display: block;
        position: fixed;
        height: 100%;
        box-sizing: border-box;
    }

    .fullscreen_bg__video {
        /*width: 100%;*/
        height: 100vh;
    }

    .app_header_mobile {
        display: block;
        width: 100%;
        height: 75px;
    }

    .on_button {
        position: absolute;
        color: white;
        z-index: 999999;
    }

    .app_aboutme {
        height: 100vh;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .app_particle_desktop {
        display: none;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .app_particle_desktop {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .app_particle_desktop {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /*.app_particle_desktop {
        display: none;
    }*/
}
